<a href="https://colab.research.google.com/github/DIVAKARYANDRA/day-7-Assignment/blob/main/assignment_7_by_divakar_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import mysql.connector as sql      
database = sql.connect(host = 'localhost', user = 'root', passwd = 'ferrari458', database = 'schooldata')

cur = database.cursor()


cur.execute("update student set Eng_mark = 80 where Roll_no = 122")    
cur.execute("select * from student")    

for i in cur:
    print(i)

cur.close()
database.commit()